{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    {% include './extends/head_ext.html' %}
</head>
<body>

{% include './extends/header_ext.html' %}

<div class="row">

  <div class="col-sm-6 p-4">
   <div id='options' class="container p-5 my-5 text-primary border border-1 rounded">
      <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>{{ question.question_text }}</h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for choice in question.choice_set.all %}
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </fieldset>
          <br>
        <input type="submit" class="btn btn-primary" value="Vote">
        </form>
       <br>
       <center>
       <p><a href="{% url 'polls:index' %}">Return to Home</a></p>
       </center>
   </div>
  </div>

  <div class="col-sm-5">
      {% include './extends/img_ext.html' %}

      {% include './extends/info_ext.html' %}

  </div>



</div>

<p>&nbsp;</p>
<p>&nbsp;</p>

</body>
</html>